[package]
name = "redlang"
version = "0.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
fancy-regex = "0.11.0"
encoding = "0.2.33"
getrandom = "0.2.8"
base64 = "0.21.2"
serde_json = "1.0.104"
uuid = {version = "1.4.1",features = ["v4","fast-rng"]}
lazy_static = "1.4.0"
chrono = "0.4.26"
md-5 = "0.10.5"
rcnb-rs = "0.1.0"
rust-embed="6.8.1"
image = "0.24.6"
imageproc = "0.23.0"
gif = "0.12.0"
cron = "0.12.0"
hyper = { version = "0.14.27",default-features = false,features = ["server"]}
tokio = { version = "1.29.1",default-features = false,features = ["macros","fs","rt-multi-thread"] }
url = "2.4.0"
futures-util = "0.3.28"
hyper-tungstenite = "0.11.1"
tokio-tungstenite = { version ="0.20.0",default-features = false,features = ["rustls-tls-webpki-roots"] }
scopeguard = "1.2.0"
log = "0.4.19"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter","time","local-time"]}
opener = "0.6.1"
rusqlite = {version = "0.29.0",features = ["bundled"]}
sevenz-rust = "0.4.3"
jsonpath-rust = "0.3.1"
rusttype = "0.9.3"
markdown = "1.0.0-alpha.7"
reqwest = {version = "0.11.18",default-features = false,features = ["rustls-tls"]}
time = { version = "0.3.25", features = ["formatting", "macros"] }
headless_chrome = {version="1.0.5",default-features = false}
webp = "0.2.5"
sysinfo = "0.29.10"
resvg = { version = "0.36.0", default-features = false, features = [ "text", "raster-images"  ] }
fontdb = { version = "0.15.0", default-features = false, features = [ "fs" ] }


[target.'cfg(windows)'.dependencies]
winreg = "0.50.0"
screenshots = "0.7.1"


[profile.release]
panic = 'abort'


