html,body{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
}


button,textarea,body,select,input{
    background-color: #C7EDCC;
}

#app {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 0;
}

#app > h1 {
    color: red;
    text-align: center;
}

#pkg_content{ /* 包内容 */
    display: flex;
    height: 0; /* 使得内容不会被子元素撑开 */
    flex: 1 0 auto;
}

#pkg_content > div:nth-child(1) { /* 包内容左边 */
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 0 auto;
}
#pkg_content > div:nth-child(1) > div:nth-child(1) { /* 包内容左边-标题 */
    border-style:solid;
    border-spacing: 1px;
}
#pkg_content > div:nth-child(1) > div:nth-child(2) { /* 包内容左边-名字 */
    border-style:solid;
    padding: 2px;
    height: 0;
    flex: 1 0 auto;
    overflow: auto;
}

#pkg_content > div:nth-child(1) > div:nth-child(3) { /* 上移，下移按钮 */
    display: flex;
    flex-direction: column;
    border-style:solid;
    padding: 2px;
    flex: 0 0 auto;
}

#pkg_content > div:nth-child(1) > div:nth-child(2) > div { /* 包内容左边-单个名字 */
    border-style:solid;
    cursor: pointer;
    margin-top: 1px;
}

#pkg_content > div:nth-child(2) { /* 包内容右边 */
    display: flex;
    flex-direction: column;
    flex: 9 0 auto;
}
.input_div{
    display: flex;
}
#script_name { /* 包内容右边 */
    border-style:solid;
    flex: 1 0 auto;
    margin: 2px;
}
#script_description { /* 包内容右边 */
    border-style:solid;
    flex: 1 0 auto;
    margin: 2px;
}
#script_keyword { /* 包内容右边 */
    border-style:solid;
    flex: 1 0 auto;
    margin: 2px;
}
#script_ppfs { /* 包内容右边 */
    border-style:solid;
    margin: 2px;
}
#script_cffs { /* 包内容右边 */
    border-style:solid;
    margin: 2px;
}
#script_content { /* 包内容右边 */
    border-style:solid;
    flex: 1 0 auto;
}

#cmd_content{
    display: flex;
    flex: 0 0 5em;
    flex-direction:column;
}

#cmd_content > div {
    display: flex;
    flex: 0 0 2.5em;
}

#cmd_content > div:nth-child(1) > button {
    flex: 1 0 auto;
}

#cmd_content > div:nth-child(2) > button {
    flex: 1 0 auto;
}

.name_active { /* 点中名字，变色属性 */
    color: red;
}

#pkg_btn_vec {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.15em;
}

#pkg_btn_vec > div {
    padding: 0.1em;
}

#pkg_btn_vec > div > button {
    height: 2em;
}