

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}


button,textarea,body,select,input{
    background-color: #C7EDCC;
}

#app {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    width: 0;
    align-items: stretch;
}

#app > h1 {
    color: red;
    text-align: center;
}

#pkg_content{ /* 包内容 */
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    overflow-x: auto;
}

#pkg_content > div:nth-child(1) { /* 包内容左边 */
    display: flex;
    flex-direction: column;
    flex: 0 0 7em;
    overflow: auto;
}
#pkg_content > div:nth-child(1) > div:nth-child(1) { /* 包内容左边-标题 */
    text-align: center;
    border-style:solid;
    border-spacing: 1px;
}
#pkg_content > div:nth-child(1) > div:nth-child(2) { /* 包内容左边-名字 */
    display: flex;
    flex-direction: column;
    border-style:solid;
    flex: 0 1 100%;
    overflow: auto;
}

#pkg_content > div:nth-child(1) > div:nth-child(3) { /* 上移，下移按钮 */
    display: flex;
    flex-direction: column;
    border-style:solid;
}

#pkg_content > div:nth-child(1) > div:nth-child(2) > div { /* 包内容左边-单个名字 */
    display: flex;
    flex:  0 0 auto;
    align-items: stretch;
    border-style:solid;
}

#pkg_content > div:nth-child(1) > div:nth-child(2) > div > span{ /* 包内容左边-单个名字 */
    text-align: center;
    cursor: pointer;
    margin-top: 1px;
    overflow-x: auto;
    flex: 1 0 100%;
}

#pkg_content > div:nth-child(2) { /* 包内容右边 */
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    overflow-x: auto;
}
.input_div{
    display: flex;
}

#pkg_content > div:nth-child(2) > div:nth-child(1){ /* 包内容右边 */
    display: flex;
    overflow-x: auto;
}

#pkg_content > div:nth-child(2) > div:nth-child(1) > span { /* 包内容右边 */
    flex: 0 0 auto;
}

#pkg_content > div:nth-child(2) > div:nth-child(2){ /* 包内容右边 */
    display: flex;
    overflow-x: auto;
}

#pkg_content > div:nth-child(2) > div:nth-child(2) > span { /* 包内容右边 */
    flex: 0 0 auto;
}

#pkg_content > div:nth-child(2) > div:nth-child(3){ /* 包内容右边 */
    display: flex;
    overflow-x: auto;
}

#pkg_content > div:nth-child(2) > div:nth-child(3) > span { /* 包内容右边 */
    flex: 0 0 auto;
}

#script_name { /* 包内容右边 */
    border-style:solid;
    flex: 1 1 auto;
    margin: 2px;
}
#script_description { /* 包内容右边 */
    border-style:solid;
    flex: 1 1 auto;
    margin: 2px;
}
#script_keyword { /* 包内容右边 */
    border-style:solid;
    flex: 1 1 auto;
    margin: 2px;
}
#script_ppfs { /* 包内容右边 */
    border-style:solid;
    margin: 2px;
}
#script_cffs { /* 包内容右边 */
    border-style:solid;
    margin: 2px;
}
#script_content { /* 包内容右边 */
    height: 0;
    border-style:solid;
    flex: 1 0 auto;
}

#cmd_content{
    display: flex;
    flex: 0 0 5em;
    flex-direction:column;
}

#cmd_content > div {
    display: flex;
    flex: 0 0 2.5em;
}

#cmd_content > div:nth-child(1) > button {
    flex: 1 0 auto;
}

#cmd_content > div:nth-child(2) > button {
    flex: 1 0 auto;
}

.name_active { /* 点中名字，变色属性 */
    color: red;
}

#pkg_btn_vec {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.15em;
}

#pkg_btn_vec > div {
    padding: 0.1em;
}

#pkg_btn_vec > div > button {
    height: 2em;
}

#other_dlg {
    margin: auto;
}

#other_dlg > div{
    display: flex;
    flex-direction:column;
}

#other_dlg > div > div {
    display: flex;
    flex-direction:column;
    background-color: antiquewhite;
}

#other_dlg > div > div > *{
    margin: 0.3em;
}

#other_dlg > div > *{
    margin: 0.3em;
}